@import './base.css';
@import './styles/themes.css';
@import './styles/problems.css';
@import './styles/problem-print.css';
@import './styles/personalization.css';
@import './styles/study-navigation.css';
@import './styles/account.css';
@import './styles/account-profile.css';
@import './styles/account-settings.css';

html,
body,
#app {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  display: block;
}

#app {
  max-width: none;
  min-height: 100vh;
  padding: 0;
  display: block;
}
